@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}


body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #1B1E2B;
}

img {
    width: 450px;
    height: 700px;
    object-fit: cover;
}

.carousel {
    box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.3);
    height: 730px;
    width: 450px;
    overflow: hidden;
}

.image-container {
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: #2EA043;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    width: 48%;
}

.btn:hover {
    opacity: 0.9;
}

.btn:focus {
    outline: none;
}